In [3]:
x=input('enter a number')

enter a number5

In [5]:
y=input('enter a number')

enter a number8

In [8]:
x+y

'58'

In [11]:
int(x)*int(y)

40

In [12]:
int(x)-int(y)

-3

In [13]:
int(x)/int(y)

0.625

In [15]:
x=int(input("enter the first number"))

enter the first number13

In [16]:
y=int(input("enter the second number"))

enter the second number17

In [18]:
P=int(input("enter a number"))

enter a number10000

In [19]:
N=int(input("enter a number"))

enter a number5

In [20]:
R=int(input("enter a number"))

enter a number10

In [22]:
I=P*N*R

In [24]:
print(I)

500000

In [28]:
x=int(input("enter your mark"))

enter your mark56

In [35]:
if x>50:
  print("you are pass")
if x<50:
  print("you are failed")

you are pass

In [36]:
salary=int(input("enter your salary"))

enter your salary300000

In [38]:
if x<250000:
  print("you are taxable")
if x>250000:
  print("you are not taxable")

you are taxable

In [39]:
t=10/100
tax=salary*t
print(tax)

30000.0

In [43]:
x=300000-250000
x=salary-250000
print(x)

50000

In [44]:
t=10/100
tax=x*t
print(tax)

5000.0

In [ ]:
if x>250000:
  print("taxable")
if 250000<x<500000
print("")